
.language-currency {
    display: flex;
    align-items: center;
    padding: 0 10%;
    white-space: nowrap;
}

.header-top-left {
    display: flex;
    align-items: center;
    white-space: nowrap;    
}

.dropdown0 a {
    display: flex;
}
.language-currency > div {
    display: flex;
    align-items: center;
    margin-right: 10px; 
}

.language-dropdown,
.money-dropdown {
    margin-right: auto;
}

.dropdown0 a i {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 10px;
}

.language-dropdown ul,
.money-dropdown ul {
    list-style: none;
    font-family: "Lora", serif;
    justify-content: space-between;
}

.language-dropdown a,
.money-dropdown a {
    text-decoration: none;
    color: #303030;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.language-dropdown a:hover,
.money-dropdown a:hover {
    color: #5d986a;
}

.dropdown-menu0 li ul li {
    display: none;
    padding: 8px;
}

.dropdown0:hover .dropdown-menu0 li,
.dropdown0:hover .dropdown-menu0 li ul,
.dropdown0:hover .dropdown-menu0 li ul li {
    display: block;
}

.dropdown-menu0 {

    position: absolute;
    border-radius: 5px;
    background-color: #fff;
    z-index: 2;
    transition: opacity 1s ease;

}

.description {
    margin-left: 50px;
}

.header-icon {
    margin-left: 400px;
    white-space: nowrap;
}

.help-icon,
.location-icon,
.blog-icon {
    margin-right: 20px;
    transition: color 0.5s ease;
}

.icon a {
    text-decoration: none;
    color: #303030;
}

.help-icon :hover,
.location-icon :hover,
.blog-icon :hover {
    color: #5d986a;
}


.menu-wrapper {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-weight: 700;
}

.logo a {
    text-decoration: none;
    color: #303030;
}

.bottom-icon {
    padding: 0 15%;
    font-size: 27px;
}

.icon {
    display: flex;
}

.search-icon i,
.profile-icon i,
.store-icon i {
    margin-right: 20px;
    transition: color 0.5s ease;

}

.search-icon i:hover,
.profile-icon i:hover,
.store-icon i:hover {
    color: #5d986a;
}

.logo-wrapper {
    margin-right: 20%;
}

.ts-menu ul {
    display: flex;
    list-style: none;
    font-family: "Lora", serif;
    justify-content: space-between;
}

.ts-menu li {
    margin-right: 20px;
    /* position: relative; */
}



.mega-sub-item {
    color: #5d986a;
    font-size: 9px;

}

.ts-menu a {
    display: flex;
    text-decoration: none;
    color: #303030;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.ts-menu a i {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 10px;
}

.ts-menu a:hover {
    color: #5d986a;

}

.ts-menu ul li a {
    font-weight: 700;
}

.dropdown img {
    max-height: 200px;
}

.dropdown3 img {
    max-width: 150px;
}

.dropdown-menu1 li ul li,
.dropdown-menu4 li,
.dropdown-menu4 li ul li,
.dropdown-menu5 li ul li {
    display: none;
    padding: 5px;
    /* padding: 5px 8px; */
}
.dropdown-menu2 li,
.dropdown-menu2 li ul li{
    display: none;

}

.dropdown1:hover .dropdown-menu1 li,
.dropdown1:hover .dropdown-menu1 li ul,
.dropdown1:hover .dropdown-menu1 li ul li,
.dropdown2:hover .dropdown-menu2 li,
.dropdown2:hover .dropdown-menu2 li ul,
.dropdown2:hover .dropdown-menu2 li ul li,
.dropdown4:hover .dropdown-menu4 li,
.dropdown4:hover .dropdown-menu4 li ul,
.dropdown4:hover .dropdown-menu4 li ul li,
.dropdown5:hover .dropdown-menu5 li,
.dropdown5:hover .dropdown-menu5 li ul,
.dropdown5:hover .dropdown-menu5 li ul li {
    display: block;
}

.dropdown-menu1,
.dropdown-menu2,
.dropdown-menu4,
.dropdown-menu5 {
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    background-color: #fff;
    opacity: 0;
    transition: opacity 1s ease;
    z-index: 100;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.dropdown1:hover .dropdown-menu1,
.dropdown2:hover .dropdown-menu2,
.dropdown4:hover .dropdown-menu4,
.dropdown5:hover .dropdown-menu5 {
    opacity: 1;
}

/* .dropdown3 ul{
    flex-direction: row;
}
.dropdown3 ul li {
    margin-bottom: 5px; 
    margin-right: 10px;
} */







/*QUang*/
.margin-content {
    margin: 100px 0px;
}

.icon--rounded {
    aspect-ratio: 1 / 1;
    width: 300px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
}

.container-icon--rounded {
    display: flex;
    justify-content: space-between;
}

.icon__size {
    font-size: 30px;
    color: rgb(20, 130, 93);
}

.icon__margin--bottom {
    margin-bottom: 17px;
}

.desc {
    color: #666;
    margin: 13px auto 45px auto;
    line-height: 24px;
    max-width: 400px;
    
}

.produce-showcase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    position: relative;
}

.produce-showcase--collumn-1 {
    width: 600px;
    height: 1350px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
}

.produce-showcase--collumn-2 {
    width: 600px;
    justify-content: space-between;
    height: 1350px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.produce-showcase--small-box {
    height: 600px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.produce-showcase--small-picture {
    width: 570px;
    height: 600px;
    position: relative;

}

.produce-showcase--large-picture {
    width: 570px;
    height: 720px;
    position: relative;
}

.produce-showcase--background {
    background-color: #5d986a;
}

.produce-showcase--image-container {
    position: relative;
}

.produce-showcase--small-box .produce-showcase-info  {
    top : 40%;
    bottom: auto;
}
.produce-showcase--large-box .produce-showcase-info  {
    top : 40%;
    bottom: auto;
}
.produce-showcase--large-box:nth-of-type(1) .produce-showcase-info  {
    top : 145px;
    bottom: auto;
    left: 95px;
}
.produce-showcase-info {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
}

.font-bold {
    font-weight: 700;
}

.lora-font {
    font-family: 'lora', serif;
}

.color {
    color: var(--primary-color)
}

.shop-button {
    border-style: solid;
    border-width: 1px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    padding: 0 25px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--button-color);
    transition: color 0.8s ease, background-color 0.8s ease;
}
.color-white{
    color: var(--white-color)

}
.shop-button:hover{
    color:#fff;
    background-color: #5d986a ;
}
.best-sellers__banner{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;

}
.best-sellers__product{
    display:flex ;
    flex-direction: column;
    align-items: center;
}
.best-sellers__product-link{
    color: var(--link-color);
}
.best-sellers__product-image{
    height: 350px;
    width: 350px;
    
}
.best-sellers__product-image--rounded{
    aspect-ratio: 1 / 1;

    border-radius: 50%;
    position: relative;
}
.product-title{
    margin-bottom: 13px;
    font-weight: bold;
} 
.text-decoration--none{
    text-decoration: none;
}
.product-rate{
    background-image: url(/public/images/rate-star.png);
    background-position: 0 -13px; 
    background-repeat: repeat-x; 
    height: 13px;
    width: 75px;
    list-style:none;
}
.product-rating {
    background-image: url(/public/images/rate-star.png);
    background-position: 0 0;
    height: 13px;
}
.list-inline-block {
    margin: 0;
    padding: 0;
    list-style: none;
}
.wrap-rating{
    margin-bottom: 13px;
}

.ad-banner__image{
    width: 1200px;
}
