:root {
    --primary-color: #5d986a;
    --button-color: black;
    --white-color: white;
}
.title18{
    font-size: 18px;
}
.title60{
    font-size: 60px;
}
.title30{
    font-size: 30px;
}
body{
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 14px; 
    line-height: inherit; 
    margin: 0; 
    padding: 0; 
    font-weight: 400; 
    letter-spacing: 0.2px;
}