:root {
    --primary-color: #5d986a;
    --button-color: black;
    --white-color: white;
    --link-color: black;
}
.full-screen {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.title18{
    font-size: 18px;
}
.title50{
    font-size: 50px;
}
.title60{
    font-size: 60px;
}
.title80{
    font-size: 80px;
}
.title30{
    font-size: 30px;
}

.margin-top30{
    margin-top: 30px;
}
.margin-top60{
    margin-top: 60px;
}

body{
    color: #303030;
    font-family: 'Roboto', sans-serif;
    font-size: 14px; 
    line-height: inherit; 
    margin: 0; 
    padding: 0; 
    font-weight: 400; 
    letter-spacing: 0.2px;
}
.vc_row {
    margin-left: 48px;
    margin-right: 48px;
}